.tasks-table {
  width: 100%;
  border-spacing: 0;
  font-size: 12px;
  position: relative;
  background-color: white;
  border: 1px solid #DCDBE2;

  &__actions {
    &__csv {
      align-items: center;
    }

    &__add-user {
      align-items: center;
    }
  }

  &__search {
    width: 100%;
    max-width: 290px !important;
    height: 38px !important;
  }

  &__loader {
    position: absolute;
    left: 42%;
    top: 10%;
  }

  table {
    width: 100%;
    background: none;
  }

  .mat-paginator {
    background: none;
  }

  .mat-header-row {
    height: 34px;
  }



}
